.div3 {
  background-color: #241f23;
  color: #241f23;
  background-image: url(./../assests/plat3.jpg);
  background-size: cover;
  height: 135vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: -2em;
}
.d {
  font-size: 64px;
  background-color: #f1c50e;
  border-radius: 200px 200px 200px 200px;
  width: 250px;
  height: 250px;
  margin-left: 150px;
  margin-top: 300px;
  display: grid;
  place-items: center;
}
.h {
  margin-left: 50px;
  color: white;
}
h1 {
  font-size: 46px;
}
button {
  background-color: #f1c50e;
  border-radius: 20px 20px 20px 20px;
  width: 10%;
  height: 50px;
  margin-left: 10px;
}
.input {
  border-radius: 50px 50px 50px 50px;
  margin-left: 50px;
  width: 30%;
  height: 50px;
}
