.di {
  background-color: #241f23;
  color: #241f23;
  background-image: url(./../assests/header.png);
  background-size: cover;
  background-position: unset;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: -2em;
}
