.container_sin {
    display: grid;
    height: 100vh;
    background-image: url(../../assets/image/image1.jpg);
   background-size: cover;
   width: 100%;
   grid-template-areas:". a" ;
  }
  .form_sin{
    grid-area: a;
    width: 60%;
    place-self: center;
  }
  
 